<%- include('templates/header') %> 
<h1> Welcome to Gursidh's Website!</h1>
<a href='/login'><button>Login</button></a><br>
<a href='/signup'><button>Signup</button></a>
<%- include('templates/footer') %> 