<%- include('templates/header') %> 
<h2> Hello, <%= username %>! </h2><br>
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img class='img-fluid' src='/C6-GIF.gif'/></div>
    <div class="col-md-4 themed-grid-col"><img class='img-fluid' src='/C7-GIF.webp'/></div>
    <div class="col-md-4 themed-grid-col"><img class='img-fluid' src='/C8-GIF.webp'/></div>
  </div>
<a href='/logout'><button> Logout </button></a>
<%- include('templates/footer') %> 